.modal_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    height: 100vh;
    width: 100vw;
    display: none;
}

.modal_container{
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%,-50%);
    
}

.modal{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    position: relative;
    box-shadow: 20px 20px 40px 40px;
    border-radius: 6px;
    background: #fff;
    animation-name: openModal;
    animation-duration: 2s;
}

.send_email,.send_password{
    width: 80%;
    height: 40px;
    outline:none;
    border-radius: 4px;
    border: 1px solid black;
}

::-webkit-input-placeholder{
    padding-left: 20px;
}

.send_password{
    background: rgb(93, 93, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.cross{
    position: absolute;
    top: 5%;
    right: 3%;
    height: 30px;
    width: 30px;
    font-size: x-large;
    font-weight: bolder;
}

.cross:hover{
    cursor: pointer;

}

.email_symbol{
    position: absolute;
    top: 61%;
    left: 11%;
}

@keyframes openModal{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}